<h2>New Album</h2>

<br>
<div class="error"><%= flash[:errors] %></div>
<br>
<%= form_for @album do |form| %>
  <%= form.label :name, "Name" %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :description, "Description" %>
  <%= form.text_area :description %>
  <br>
  <br>
  <p>Add a new image:</p>
  <%= form.file_field :images, multiple: true %>
  <br>
  <%= form.submit "Create" %>
<% end %>